* {
    font-family: cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth
}

body {
    background: var(--text-color);
    color: var(--bg-color);
    background-color: rgb(255, 255, 255);
}

.entete {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #410101;
    transition: 0.5s;
    height: 70px;
}

.navbar {
    display: flex;
    margin-top: 0%;
    column-gap: 5rem;


}

ul li {
    list-style: none;
}

.navbar li {
    position: relative;
}

.navbar a {
    color: white;
    font-weight: 500;
    padding: 10px;
    font-size: 1.5rem;

}

.navbar a :hover ::after,
.navbar .accueil-active ::after {
    width: 100%;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

}

header img {
    width: 100px;
    height: auto;
}

.image-contener .background {
    width: 600px;
    max-width: 800px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px rgba(0, 0, 0, 2);
    margin-left: 25rem;
    margin-top: 20rem;
    height: 300px;



}

.accueil {
    background-image: url(image2.jpg);
    background-size: cover;


}

.image {
    padding: 100;
    margin-bottom: 30px;
    margin-right: 40px;
    margin-top: 20px;

}

.centered {
    width: 450px;
    height: 400px;
    align-items: center;
}

.Apropos {
    height: 900px;
    text-align: center;
}

h1 {
    margin-right: 6rem;
}

.gauche {
    float: left;
}

.droite {
    float: right;
}

.img-apropos {
    height: 300px;
    width: 700px;
}

.Films {
    background-color: black;
}

.text-film {
    color: white;
}

.Evenements {
    background-image: url(image3.png);
    background-size: cover;
}

.texth-ev {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.paragraphe {
    margin: 10px;
    padding: 10px;
    color: white;
}

.images-ev {
    padding: 2rem;
    margin-bottom: 30px;
    margin-right: 19px;
    margin-top: 20px;
    height: 250px;
    width: auto;
}

.textb-ev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.paragraphe2 {
    margin: 10px;
    padding: 10px;

}